<%= image_tag 'employee_task_images/prasthana.png',width:'500px',height:'300px'%>
<h1><strong>Our values drive us to create a better experience for our clients and anyone who contacts us.</strong></h1>
<h2><strong>Our Service Principles</strong></h2>
<p>* Prasthana is a pioneering technology company that delivers innovative solutions to help its clients continuously stay ahead. We help businesses make the most of emerging opportunities and successfully execute their vision in a competitive and technology-driven marketplace.</p>
<p>* Prasthana fosters an entrepreneurial culture of owning responsibilities and outcomes. As a result, this has always delighted our clients with solutions which help them stay ahead in the competition curve.</p>
<p>* Prasthana is built on customer-centric and quality-centric services. Our cognitive approach to challenges and services delivery has helped solve business-critical issues for our clients.</p>
<p>* Prasthana empowers partners with technology solutions driven by a team of young and passionate engineers.</p>
<p>* We leverage state-of-the-art technology and best-of-breed business processes to collaborate with our clients to help them become high-performance businesses.</p>
