<%= image_tag 'employee_task_images/prasthana.png',width:'500px',height:'300px'%>
<h1><strong>PRASTHANA SOFTWARE SOLUTIONS</strong></h1>
<h2><strong>OUR LOCATION:</strong></h2>
<p>Plot # 37 & 38, Serinity Square, Opp.to KLAY school, Raheja Mindspace, Madhapur, Hyderabad, Telangana 500081.</p>
